<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Peripheral Configuration"
            id="net.sourceforge.usbdm.peripherals.configuration">
      </category>
      <view
            name="Peripheral Configuration View"
            icon="icons/sample.gif"
            category="net.sourceforge.usbdm.peripherals.configuration"
            class="net.sourceforge.usbdm.peripherals.configuration.views.PeripheralConfigurationView"
            id="net.sourceforge.usbdm.peripherals.configuration.views.PeripheralConfigurationView">
      </view>
   </extension>

</plugin>
