# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la

*.exe
*.dll

/bin

.metadata

.settings

*.class
/x86_64
/RemoteSystemsTempFiles
/.recommenders/

/net.sourceforge.usbdm.deviceEditor.copy/
/net.sourceforge.usbdm.deviceEditor.copy1/
/TestSite/
/swtchart/
/XYGraphTest/
/org.eclipse.cdt.dsf/
/org.eclipse.cdt.dsf.gdb/
/TestMasks/
/c++/
/cc/
/lpc11u14_Test/
/mke02z16/
/mk22f_SpO2/
/xx/
/ksdk_lib_K64F12_FreeRTOS_usbdm/
/delme/
/aaa/
/TestJregistry/
/frdm_k20/
/frdm_k28/
