# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la

*.exe
*.dll

/bin

.metadata

.settings

*.class
/x86_64
/RemoteSystemsTempFiles
/.recommenders/

/net.sourceforge.usbdm.deviceEditor.copy/
/net.sourceforge.usbdm.deviceEditor.copy1/
/TestSite/
