<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sourceforge.usbdm.gdb.launchConfigurationType"
            icon="icons/cog.png"
            id="net.sourceforge.usbdm.gdb.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="net.sourceforge.usbdm.gdb.launchConfigurationType"
            name="USBDM Hardware Debugging"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="net.sourceforge.usbdm.gdb.UsbdmGdbLaunchConfigurationDelegate"
            delegateDescription="Hardware debugging using the USBDM debugger framework"
            id="net.sourceforge.usbdm.gdb.LaunchDelegate"
            modes="debug"
            name="USBDM Hardware Debugger"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="net.sourceforge.usbdm.gdb.launchConfigurationType">
      </launchDelegate>
      <launchDelegate
            delegate="net.sourceforge.usbdm.gdb.UsbdmGdbDsfLaunchConfigurationDelegate"
            delegateDescription="Hardware debugging using the USBDM debugger framework (DSF-debug)"
            id="net.sourceforge.usbdm.gdb.dsfLaunchDelegate"
            modes="debug"
            name="USBDM Hardware Debugger (DSF-debug)"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="net.sourceforge.usbdm.gdb.launchConfigurationType">
      </launchDelegate>
      <launchDelegate
            delegate="net.sourceforge.usbdm.gdb.UsbdmGdbDsfLaunchConfigurationDelegate"
            delegateDescription="Hardware debugging using the USBDM debugger framework (DSF-run)"
            id="net.sourceforge.usbdm.gdb.dsfRunLaunchDelegate"
            modes="run"
            name="USBDM Hardware Debugger (DSF-run)"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="net.sourceforge.usbdm.gdb.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="net.sourceforge.usbdm.gdb.UsbdmGdbInterface"
            id="net.sourceforge.usbdm.dsf.interface"
            name="USBDM DSF Interface">
      </device>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="net.sourceforge.usbdm.gdb.UsbdmGdbJtagConnection"
            id="net.sourceforge.usbdm.interface"
            name="USBDM Interface">
      </device>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sourceforge.usbdm.gdb.ui.UsbdmLaunchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            type="net.sourceforge.usbdm.gdb.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="net.sourceforge.usbdm.gdb.ui.UsbdmCMainTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.usbdmCMainTab"
            name="Main">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfRunLaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfRunLaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfLaunchDelegate">
         </associatedDelegate>
      </tab>
      <tab
            class="net.sourceforge.usbdm.gdb.ui.UsbdmDebuggerTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.usbdmDebuggerTab"
            name="Debugger">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfRunLaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="net.sourceforge.usbdm.gdb.ui.usbdmCMainTab">
         </placement>
      </tab>
      <tab
         class="net.sourceforge.usbdm.gdb.ui.UsbdmStartupTab"
         group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
         id="net.sourceforge.usbdm.gdb.ui.usbdmStartupTab"
         name="Startup">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="net.sourceforge.usbdm.gdb.ui.usbdmDebuggerTab">
         </placement>
      </tab>
      <tab
            class="net.sourceforge.usbdm.gdb.ui.UsbdmRunTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.usbdmRunTab"
            name="Run">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfRunLaunchDelegate">
         </associatedDelegate>
         <placement
               after="net.sourceforge.usbdm.gdb.ui.usbdmDebuggerTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.usbdmSourceLookupTab"
            name="Source">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="net.sourceforge.usbdm.gdb.ui.usbdmRunTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.usbdmCommonTab"
            name="Common">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfRunLaunchDelegate">
         </associatedDelegate>
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.dsfLaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
   </extension>
</plugin>
