<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform">
   <locations>
      <location path="/home/peter/eclipse/embedcpp-2025-03/eclipse" type="Profile"/>
   </locations>
</target>