<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="net.sourceforge.usbdm.gdb.launchConfigurationType"
            icon="icons/obj16/c_app.gif"
            id="net.sourceforge.usbdm.gdb.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="net.sourceforge.usbdm.gdb.launchConfigurationType"
            modes="debug"
            name="USBDM Hardware Debugging"
            public="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.eclipse.cdt.debug.gdbjtag.core.GDBJtagLaunchConfigurationDelegate"
            delegateDescription="Hardware debugging using the USBDM debugger Framework"
            id="net.sourceforge.usbdm.gdb.LaunchDelegate"
            modes="debug"
            name="USBDM Hardware Debugger"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="net.sourceforge.usbdm.gdb.launchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="net.sourceforge.usbdm.gdb.UsbdmInterface"
            id="net.sourceforge.usbdm.interface"
            name="USBDM Interface">
      </device>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="net.sourceforge.usbdm.gdb.UsbdmLaunchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            type="net.sourceforge.usbdm.gdb.launchConfigurationType"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.cdt.launch.ui.CMainTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.cmaintab"
            name="Main">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
      </tab>
      <tab
            class="net.sourceforge.usbdm.gdb.UsbdmDebuggerTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.debuggertab"
            name="Debug">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.cdi.launch.mainTab">
         </placement>
      </tab>
      <tab
         class="net.sourceforge.usbdm.gdb.UsbdmStartupTab"
         group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
         id="net.sourceforge.usbdm.gdb.ui.startuptab"
         name="Launch">
            <associatedDelegate
                  delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
            </associatedDelegate>
            <placement
                  after="net.sourceforge.usbdm.gdb.debuggerTab">
            </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.sourcelookup.SourceLookupTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.sourcelookuptab"
            name="Source">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.cdt.debug.gdbjtag.ui.startuptab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.debug.ui.CommonTab"
            group="net.sourceforge.usbdm.gdb.launchConfigurationTabGroup"
            id="net.sourceforge.usbdm.gdb.ui.commontab"
            name="Common">
         <associatedDelegate
               delegate="net.sourceforge.usbdm.gdb.LaunchDelegate">
         </associatedDelegate>
         <placement
               after="org.eclipse.debug.ui.sourceLookupTab">
         </placement>
      </tab>
   </extension>
</plugin>
