<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.usbdm.peripherals.DevicePeripheralsProvider">
      <client
            class="net.sourceforge.usbdm.peripherals.usbdm.UsbdmPeripheralDescriptionProvider">
      </client>
   </extension>

</plugin>
