<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sourceforge.usbdm.cdt.wizard.commands.category"
            name="Usbdm Category">
      </category>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Configure USBDM"
            id="net.sourceforge.usbdm.cdt.wizard.commands.configureCommand"
            name="Configure">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Open USBDM Target Peripherals View"
            id="net.sourceforge.usbdm.cdt.wizard.commands.openPeripheralsViewCommand"
            name="Open Peripherals View">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Open GDB Console"
            id="net.sourceforge.usbdm.cdt.wizard.commands.openGdbConsoleCommand"
            name="Open GDB Console">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Open USBDM New Project Wizard"
            id="net.sourceforge.usbdm.cdt.wizard.commands.newProjectCommand"
            name="New Project...">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Open USBDM New Example Wizard"
            id="net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand"
            name="New Example...">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Open USBDM KSDK Library Import Wizard"
            id="net.sourceforge.usbdm.cdt.wizard.commands.ksdkLibraryImportCommand"
            name="Import KSDK Libraries...">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Start independent ARM GDB Server "
            id="net.sourceforge.usbdm.cdt.wizard.commands.startArmGdbServerCommand"
            name="Start ARM GDB Server">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Start independent Coldfire GDB Server "
            id="net.sourceforge.usbdm.cdt.wizard.commands.startCfv1GdbServerCommand"
            name="Start CFV1 GDB Server">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            description="Start independent Coldfire V2,3,4 GDB Server "
            id="net.sourceforge.usbdm.cdt.wizard.commands.startCfvxGdbServerCommand"
            name="Start CFV2,3,4 GDB Server">
      </command>
      <command
            description="Disassemble C File"
            id="net.sourceforge.usbdm.cdt.ui.disassembleCFile"
            name="Disassemble">
      </command>
      <command
            description="Create USBDM Launch configuration"
            id="net.sourceforge.usbdm.cdt.ui.createLauchConfiguration"
            name="Create USBDM Launch configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.ConfigureHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.configureCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.OpenPeripheralsViewHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.openPeripheralsViewCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.OpenGdbConsoleHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.openGdbConsoleCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.ExampleHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.KSDKLibraryImportHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.ksdkLibraryImportCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.NewProjectHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.newProjectCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.ArmGdbServerHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.startArmGdbServerCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.Cfv1GdbServerHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfv1GdbServerCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.CfvxGdbServerHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfvxGdbServerCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.DisassembleCFileHandler"
            commandId="net.sourceforge.usbdm.cdt.ui.disassembleCFile">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.CreateLaunchConfigurationHandler"
            commandId="net.sourceforge.usbdm.cdt.ui.createLauchConfiguration">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.sourceforge.usbdm.cdt.wizard.menus.usbdmMenu"
               label="USBDM"
               mnemonic="U"
               sibling_order="&lt;command&#x0D;&#x0A;                  
               commandId=&quot;net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand&quot;&#x0D;&#x0A;                  
               helpContextId=&quot;net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic&quot;&#x0D;&#x0A;                  
               icon=&quot;icons/cog.png&quot;&#x0D;&#x0A;                  
               id=&quot;net.sourceforge.usbdm.cdt.wizard.menus.exampleMenuItem&quot;&#x0D;&#x0A;                  
               mnemonic=&quot;E&quot;&gt;&#x0D;&#x0A;            &lt;/command&gt;">
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.newProjectCommand"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.newProjectMenuItem"
                  mnemonic="N">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.openPeripheralsViewCommand"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.openPeripheralsViewMenuItem"
                  mnemonic="P">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.openGdbConsoleCommand"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.openGdbConsoleCommand"
                  mnemonic="C">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.exampleMenuItem"
                  mnemonic="E">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.ksdkLibraryImportCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.ksdkLibraryImportMenuItem"
                  mnemonic="L">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.startArmGdbServerCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/launch_debug.gif"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.startArmGdbServerMenuItem"
                  mnemonic="A">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfv1GdbServerCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/launch_debug.gif"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.startCfv1GdbServerMenuItem"
                  mnemonic="1">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfvxGdbServerCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/launch_debug.gif"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.startCfvxGdbServerMenuItem"
                  mnemonic="2">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.configureCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.configureMenuItem"
                  mnemonic="C">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.debug.ui.main.toolbar?endof=additions">
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.newProjectCommand"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.newProjectMenuItem"
                  label="New USBDM Project..."
                  mnemonic="N">
            </command>
      </menuContribution>
		<menuContribution 
				locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
			<command
         commandId="net.sourceforge.usbdm.cdt.ui.disassembleCFile"
         icon="icons/cog.png"
         label="Disassemble"
         style="push"
         tooltip="Disassemble file (refer Disassembler settings)">
		      <visibleWhen checkEnabled="false">
		         <and>
   		         <with variable="activeMenuSelection">
      				   <iterate ifEmpty="false" operator="or">
                        <adapt type="org.eclipse.cdt.core.model.IBinary"/>
      				   </iterate>
                  </with>
                  <iterate operator="and">
                     <adapt type="org.eclipse.core.resources.IResource">
                        <test property="org.eclipse.core.resources.projectNature" value="net.sourceforge.usbdm.cdt.usbdmNature" />
                     </adapt>
                  </iterate>
               </and>
		      </visibleWhen>
			</command>
		</menuContribution>
      <menuContribution 
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
            commandId="net.sourceforge.usbdm.cdt.ui.createLauchConfiguration"
            icon="icons/cog.png"
            label="Create USBDM Launch configuration"
            style="push"
            tooltip="Create USBDM Launch configuration">
            <visibleWhen>
               <and>
                  <iterate operator="or">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.cdt.core.cnature">
                     </test>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.cdt.core.ccnature">
                     </test>
                  </iterate>
                  <not>
                     <iterate operator="and">
                        <test property="org.eclipse.core.resources.projectNature" value="net.sourceforge.usbdm.cdt.usbdmNature" />
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sourceforge.usbdm.cdt.usbdmCategory"
            name="USBDM Example Projects"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples"
            class="net.sourceforge.usbdm.cdt.ui.examplewizard.UsbdmExampleProjectsWizard"
            icon="icons/cog.png"
            id="net.sourceforge.usbdm.cdt.exampleProjectsWizard"
            name="USBDM Example Projects Wizard"
            project="true">
         <description>
            Create a USBDM C/C++ project from a list of examples.
         </description>
      </wizard>
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="net.sourceforge.usbdm.cdt.ui.newProjectWizard.UsbdmNewProjectWizard"
            icon="icons/cog.png"
            id="net.sourceforge.usbdm.cdt.newProjectWizard"
            name="C/C++ Project (USBDM)"
            project="true">
         <description>
            Create a USBDM C/C++ Project
         </description>
      </wizard>
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="net.sourceforge.usbdm.cdt.ui.ksdk.KSDKLibraryImportWizard"
            icon="icons/cog.png"
            id="net.sourceforge.usbdm.cdt.ksdkLibraryImportWizard"
            name="Kinetis SDK LIbrary Import"
            project="true">
         <description>
            Import Kinetis SDK Library Project
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchMainPreferencePage"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            name="C/C++ USBDM">
      </page>
      <page
            category="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchGdbServerPreferencePage$WorkbenchPreferenceArmPage"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.ArmPage"
            name="ARM GDB Server">
      </page>
      <page
            category="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchGdbServerPreferencePage$WorkbenchPreferenceCfv1Page"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.ArmPage"
            name="Coldfire V1 GDB Server">
      </page>
      <page
            category="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchGdbServerPreferencePage$WorkbenchPreferenceCfvxPage"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.ArmPage"
            name="Coldfire V2,3,4 GDB Server">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchPropertyTopPage"
            id="net.sourceforge.usbdm.cdt.ui.propertyPages.ArmTopPage"
            name="C/C++ USBDM (ARM)">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="nature"
               value="net.sourceforge.usbdm.cdt.tools.ArmProjectNature">
         </filter>
      </page>
      <page
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchPropertyTopPage"
            id="net.sourceforge.usbdm.cdt.ui.propertyPages.ColdfireTopPage"
            name="C/C++ USBDM (Coldfire)">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="nature"
               value="net.sourceforge.usbdm.cdt.tools.ColdfireProjectNature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sourceforge.usbdm.cdt.ui.debugActive">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
                  <equals
                        value="org.eclipse.ui.examples.contributions.globalActionSet">
                  </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.resources.natures"
         id="net.sourceforge.usbdm.cdt.usbdmNature"
         name="USBDM Project Nature">
      <runtime>
         <run class="net.sourceforge.usbdm.cdt.ui.newProjectWizard.UsbdmProjectNature" />
      </runtime>
      <requires-nature id="org.eclipse.cdt.core.cnature"/>
   </extension>
</plugin>
