<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.sourceforge.usbdm.cdt.wizard.commands.category"
            name="Usbdm Category">
      </category>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            id="net.sourceforge.usbdm.cdt.wizard.commands.configureCommand"
            name="Configure">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            id="net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand"
            name="New Example...">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            id="net.sourceforge.usbdm.cdt.wizard.commands.startArmGdbServerCommand"
            name="Start ARM GDB Server">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            id="net.sourceforge.usbdm.cdt.wizard.commands.startCfv1GdbServerCommand"
            name="Start CFV1 GDB Server">
      </command>
      <command
            categoryId="net.sourceforge.usbdm.cdt.wizard.commands.category"
            id="net.sourceforge.usbdm.cdt.wizard.commands.startCfvxGdbServerCommand"
            name="Start CFV2,3,4 GDB Server">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.ConfigureHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.configureCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.ExampleHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.ArmGdbServerHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.startArmGdbServerCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.Cfv1GdbServerHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfv1GdbServerCommand">
      </handler>
      <handler
            class="net.sourceforge.usbdm.cdt.ui.handlers.CfvxGdbServerHandler"
            commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfvxGdbServerCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="net.sourceforge.usbdm.cdt.wizard.menus.usbdmMenu"
               label="USBDM"
               mnemonic="U">
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.configureCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.configureMenuItem"
                  mnemonic="C">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.exampleCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/cog.png"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.exampleMenuItem"
                  mnemonic="N">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.startArmGdbServerCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/launch_debug.gif"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.startArmGdbServerMenuItem"
                  mnemonic="A">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfv1GdbServerCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/launch_debug.gif"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.startCfv1GdbServerMenuItem"
                  mnemonic="1">
            </command>
            <command
                  commandId="net.sourceforge.usbdm.cdt.wizard.commands.startCfvxGdbServerCommand"
                  helpContextId="net.sourceforge.usbdm.cdt.wizard.commands.configureHelp.basic"
                  icon="icons/launch_debug.gif"
                  id="net.sourceforge.usbdm.cdt.wizard.menus.startCfvxGdbServerMenuItem"
                  mnemonic="2">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contextProvider
            class="org.eclipse.help.internal.context.ContextFileProvider">
      </contextProvider>
      <contexts
            file="Help/usbdmWizardHelp.xml"
            plugin="net.sourceforge.usbdm.cdt.wizard">
      </contexts>
   </extension>
   <extension
      point="org.eclipse.cdt.core.templates">
      <category
         id="net.sourceforge.usbdm.projects"
         label="USBDM">
      </category>
      <template
            filterPattern=".*gcc"
            id="net.sourceforge.usbdm.template.cfv1.c"
            location="Templates/ColdfireV1/Template_c.xml"
            pagesAfterTemplateSelectionProvider="net.sourceforge.usbdm.cdt.ui.wizards.ToolPageProviderFactory$Cfv1PageProvider"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.windows.toolchain" />
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.linux.toolchain" />
         <parentCategory
            id="net.sourceforge.usbdm.projects" />
      </template>
      <template
         filterPattern=".*g\+\+"
         id="net.sourceforge.usbdm.template.cfv1.cpp"
         location="Templates/ColdfireV1/Template_cpp.xml"
         pagesAfterTemplateSelectionProvider="net.sourceforge.usbdm.cdt.ui.wizards.ToolPageProviderFactory$Cfv1PageProvider"
         projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.windows.toolchain" />
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.linux.toolchain" />
         <parentCategory
            id="net.sourceforge.usbdm.projects" />
      </template>
      <template
         filterPattern=".*gcc"
         id="net.sourceforge.usbdm.template.cfvx.c"
         location="Templates/ColdfireVx/Template_c.xml"
         pagesAfterTemplateSelectionProvider="net.sourceforge.usbdm.cdt.ui.wizards.ToolPageProviderFactory$CfvxPageProvider"
         projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.windows.toolchain" />
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.linux.toolchain" />
         <parentCategory
            id="net.sourceforge.usbdm.projects" />
      </template>
      <template
         filterPattern=".*g\+\+"
         id="net.sourceforge.usbdm.template.cfvx.cpp"
         location="Templates/ColdfireVx/Template_cpp.xml"
         pagesAfterTemplateSelectionProvider="net.sourceforge.usbdm.cdt.ui.wizards.ToolPageProviderFactory$CfvxPageProvider"
         projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.windows.toolchain" />
         <toolChain
            id="net.sourceforge.usbdm.cdt.coldfire.linux.toolchain" />
         <parentCategory
            id="net.sourceforge.usbdm.projects" />
      </template>
      <template
         filterPattern=".*gcc"
         id="net.sourceforge.usbdm.template.arm.c"
         location="Templates/ARM/Template_c.xml"
         pagesAfterTemplateSelectionProvider="net.sourceforge.usbdm.cdt.ui.wizards.ToolPageProviderFactory$ArmPageProvider"
         projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
            id="net.sourceforge.usbdm.cdt.arm.windows.toolchain" />
         <toolChain
            id="net.sourceforge.usbdm.cdt.arm.linux.toolchain" />
         <parentCategory
            id="net.sourceforge.usbdm.projects" />
      </template>
      <template
         filterPattern=".*g\+\+"
         id="net.sourceforge.usbdm.template.arm.cpp"
         location="Templates/ARM/Template_cpp.xml"
         pagesAfterTemplateSelectionProvider="net.sourceforge.usbdm.cdt.ui.wizards.ToolPageProviderFactory$ArmPageProvider"
         projectType="org.eclipse.cdt.build.core.buildArtefactType.exe">
         <toolChain
            id="net.sourceforge.usbdm.cdt.arm.windows.toolchain" />
         <toolChain
            id="net.sourceforge.usbdm.cdt.arm.linux.toolchain" />
         <parentCategory
            id="net.sourceforge.usbdm.projects" />
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sourceforge.usbdm.cdt.usbdmCategory"
            name="USBDM Example Projects"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples"
            class="net.sourceforge.usbdm.cdt.ui.examplewizard.UsbdmExampleProjectsWizard"
            icon="icons/cog.png"
            id="net.sourceforge.usbdm.cdt.exampleProjectsWizard"
            name="USBDM Example Projects Wizard"
            project="true">
      </wizard>
   </extension>

   <extension
      point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
         name="AddExternalFiles"
         processRunner="net.sourceforge.usbdm.cdt.ui.actions.AddExternalFiles">
         <simple
            name="projectName" />
         <complexArray
            name="copyList">
            <baseType>
               <simple
                  name="externalSource" />
               <simple
                  name="internalSource" />
               <simple
                  name="target" />
               <simple
                  name="replaceable" />
            </baseType>
         </complexArray>
      </processType>
      <processType
         name="AddTargetFiles"
         processRunner="net.sourceforge.usbdm.cdt.ui.actions.AddTargetFiles">
         <simple
            name="projectName" />
         <simple
            name="targetDeviceFamily" />
         <simple
            name="targetDevice" />
      </processType>
      <processType
         name="ProcessUsbdmSettings"
         processRunner="net.sourceforge.usbdm.cdt.ui.actions.ProcessUsbdmSettings">
         <simple
            name="projectName" />
         <simple
            name="targetDeviceFamily" />
         <simple
            name="targetDevice" />
      </processType>
      <processType
         name="CreateIncludeFolder"
         processRunner="net.sourceforge.usbdm.cdt.ui.actions.CreateIncludeFolder">
         <simple
            name="projectName" />
         <simple
            name="path" />
      </processType>
      <processType
            name="AddNature"
            processRunner="net.sourceforge.usbdm.cdt.ui.actions.AddNature">
         <simple
               name="projectName">
         </simple>
         <simple
               name="nature">
         </simple>
      </processType>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchMainPreferencePage"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            name="C/C++ USBDM">
      </page>
      <page
            category="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchGdbServerPreferencePage$WorkbenchPreferenceArmPage"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.ArmPage"
            name="ARM GDB Server">
      </page>
      <page
            category="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchGdbServerPreferencePage$WorkbenchPreferenceCfv1Page"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.ArmPage"
            name="Coldfire V1 GDB Server">
      </page>
      <page
            category="net.sourceforge.usbdm.cdt.ui.preferencePages.topPage"
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchGdbServerPreferencePage$WorkbenchPreferenceCfvxPage"
            id="net.sourceforge.usbdm.cdt.ui.preferencePages.ArmPage"
            name="Coldfire V2,3,4 GDB Server">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchPropertyTopPage"
            id="net.sourceforge.usbdm.cdt.ui.propertyPages.ArmTopPage"
            name="C/C++ USBDM (ARM)">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="nature"
               value="net.sourceforge.usbdm.cdt.tools.ArmProjectNature">
         </filter>
      </page>
      <page
            class="net.sourceforge.usbdm.cdt.ui.WorkbenchPropertyTopPage"
            id="net.sourceforge.usbdm.cdt.ui.propertyPages.ColdfireTopPage"
            name="C/C++ USBDM (Coldfire)">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
         <filter
               name="nature"
               value="net.sourceforge.usbdm.cdt.tools.ColdfireProjectNature">
         </filter>
      </page>
   </extension>

</plugin>
